<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> Portfolio </title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="/img/favicon.png" rel="icon">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link href="/auxiliares/aos/aos.css" rel="stylesheet">
    <link href="/auxiliares/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/auxiliares/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/auxiliares/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/auxiliares/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/auxiliares/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

</body>
    {{{body}}}
      <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Portfolio</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/facundo-robles-718961243/">Facundo Robles</a>
      </div>
    </div>
  </footer>
  <!-- Fin  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="/auxiliares/purecounter/purecounter.js"></script>
  <script src="/auxiliares/aos/aos.js"></script>
  <script src="/auxiliares/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/auxiliares/glightbox/js/glightbox.min.js"></script>
  <script src="/auxiliares/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/auxiliares/swiper/swiper-bundle.min.js"></script>
  <script src="/auxiliares/typed.js/typed.min.js"></script>
  <script src="/auxiliares/waypoints/noframework.waypoints.js"></script>

  <script src="/js/main.js"></script>
</html>